<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_lists.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' todo_lists.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todo_lists.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for items in todo_lists.items.all %}
                    <tr>
                        <td> <a href="{%url 'todo_item_update' todo_lists.id %}">{{ items.task }}</a> </td>
                        <td>{{ items.due_date|date:"M d, Y" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>

</html>